// Estilos globales


body
  font-family Arial, sans-serif
  margin 0
  padding 0

header
  background-color #007BFF
  color #fff
  padding 20px 0
  text-align center

.container
  max-width 800px
  margin 0 auto
  padding 20px
  background-color #81caea
  box-shadow 0 0 10px rgba(0, 0, 0, 0.1)

// Estilos para el artículo destacado
.featured-article
  text-align center

.featured-article img
  max-width 100%
  height auto

// Estilos para la galería de imágenes
.image-gallery
  margin-top 20px
  display flex
  flex-wrap wrap
  justify-content center

.image
  margin-bottom 20px
  flex-basis 30%  // Ajusta este valor según sea necesario para el espaciado deseado

.image img
  max-width 100%
  height auto

/* Estilos para el menú de navegación horizontal centrado */
.menu-container
  display flex
  justify-content center  // Centrar los elementos horizontalmente

.menu
  list-style-type none
  padding 0
  margin 0

.menu li
  margin-left 20px  // Espacio entre elementos del menú

.menu a
  text-decoration none
  color #333
  font-weight bold
  font-size 16px

  &:hover
    color #007BFF
